.lock
/.idea/
/.idea/dictionaries
/html/ui/.idea
/wng.iml
/wng_db
/webapps/
/classes/
*.log
*.log.*
/html/doc/*
/html/**/*.gz
/keystore
/wng.jar
/wngservice.jar
/wng_test_db
/README_win.txt
wng.log.lck
/bin
/.classpath
/.project
/.settings/
/compile.bat
/test/classes/
*.csv
/jre
/dist
deploy.sh
/resource/wng.manifest.mf
/resource/wngservice.manifest.mf
/wng.exe
/wngservice.exe
/bundles
*.patch
/addons/classes/
/addons/src/*.java
wng.properties
wng.log
